/* General */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f9fc;
  padding: 30px;
  color: #333;
}

form {
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #2c3e50;
  font-size: 1.8em;
  font-weight: 500;
  margin-bottom: 25px;
}

h4 {
  font-size: 1.2em;
  margin-top: 20px;
  color: #2c3e50;
  font-weight: 400;
}

/* Layout para Inputs en Línea con Flexbox */
.form-group {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten a la siguiente línea si no caben */
  gap: 15px; /* Espacio entre los elementos */
  margin-bottom: 15px;
}

.form-group .input-item {
  flex: 1; /* Hace que los inputs ocupen el mismo ancho */
  min-width: 200px; /* Asegura que no se vuelvan demasiado pequeños */
}

.form-group .input-item-2 {
  flex: 1 1 48%; /* Esto permitirá que ocupe hasta el 48% del espacio */
}

/* Inputs y Labels */
input[type="text"], input[type="email"], input[type="number"], textarea, select {
  width: 100%;
  padding: 12px;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.2em;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 12px;
  transform: scale(1.2); /* Aumenta el tamaño del checkbox */
  cursor: pointer; /* Cambia el cursor al pasar sobre el checkbox */
}

/* Estilo para los checkboxes */
input[type="checkbox"] {
  margin-right: 10px; /* Añade espacio a la derecha del checkbox */
  transform: scale(1.2); /* Aumenta ligeramente el tamaño del checkbox */
  cursor: pointer; /* Cambia el cursor al pasar sobre el checkbox */
}

/* Estilo cuando el checkbox está seleccionado */
input[type="checkbox"]:checked + label {
  color: #3498db; /* Cambia el color de la etiqueta cuando el checkbox está seleccionado */
}

/* Opcional: Estilo de los checkbox cuando están seleccionados */
input[type="checkbox"]:checked {
  background-color: #3498db; /* Cambia el color de fondo cuando está marcado */
  border-color: #3498db; /* Cambia el borde cuando está marcado */
}

/* Estilo de Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilo común para el botón y el input de tipo botón */
.dropdown button,
input[type="file"]:hover {
  padding: 12px 25px;
  font-size: 1em;
  background-color: #27ae60; /* Color verde */
  color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Efecto hover para el botón y el input */
.dropdown button:hover,
input[type="file"]:hover  {
  background-color: #2ecc71;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px 0;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content label {
  display: block;
  padding: 10px;
  color: #7f8c8d;
  font-size: 1em;
  transition: background-color 0.2s ease;
}

.dropdown-content label:hover {
  background-color: #f1f1f1;
}

/* Botones en azul (cambio global) */
button {
  padding: 12px 25px;
  font-size: 1em;
  background-color: #3498db; /* Cambié a azul */
  color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-right: 10px; /* Añadí un margen para separar los botones */
}

button:hover {
  background-color: #2980b9; /* Cambié el color de hover a un azul más oscuro */
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3); /* Añadí una sombra al hacer hover */
}

button:active {
  transform: translateY(2px); /* Efecto visual al hacer click */
}

/* Estilo de los campos de opción (radio, checkbox) */
input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  color: #3498db;
}

/* Espaciado entre bloques */
div {
  margin-bottom: 30px;
}

/* Inputs con tamaño específico */
.input-corto {
  flex: 1 1 12%;
  max-width: 120px;
  min-width: 58px;
}
.input-intermedio {
  flex: 1 1 18%; /* Ocupa el 50% del ancho */
  max-width: 230px;
  min-width: 230px;
}

.input-medio {
  flex: 1 1 25%; /* Ocupa el 50% del ancho */
  max-width: 500px;
  min-width: 400px;
}

.input-largo {
  flex: 1 1 50%; /* Ocupa toda la fila */
  max-width: 1000px;
  min-width: 300px;
}

.full-width {
  flex: 0 0 100%; /* Asegura que ocupe el 100% del ancho */
  margin-bottom: 10px; /* Espaciado opcional para separar del siguiente contenido */
}

.input-checkbox {
  display: flex;
  flex-direction: column; /* Apilar los elementos en una columna (vertical) */
  gap: 10px; /* Espacio entre los elementos */
}

.input-checkbox label {
  font-size: 16px; /* Tamaño de fuente */
  color: #333; /* Color del texto */
  font-weight: 500; /* Peso de fuente */
  display: block; /* Asegura que los labels se muestren en su propia línea */
}

.input-checkbox input[type="radio"] {
  margin-right: 5px; /* Espacio entre el radio button y el texto */
}

.input-20chars::placeholder {
  color: #bdc3c7;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ddd;
  margin: 30px 0;
}

/* Diseño Responsivo */
@media screen and (max-width: 768px) {
  .form-group .input-item,
  .form-group .input-item-2 {
    flex: 1 1 100%; /* En pantallas pequeñas, los inputs ocuparán toda la línea */
  }

  button[type="submit"], button[type="button"] {
    width: 100%;
  }

  button[type="button"]:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }

  button[type="button"]:active {
    background-color: #003d80;
    transform: translateY(2px);
  }


  .dropdown button {
    width: 100%;
  }

  textarea {
    height: 120px; /* Reducimos el tamaño del textarea en pantallas más pequeñas */
  }
}


.bloque {
  display: flex;
  flex-direction: column;
}

.formulario {
  display: flex;
  justify-content: space-between; /* Espacio entre los bloques */
  gap: 20px; /* Distancia entre los bloques */
}

/* Estilo para las tablas */
.estiloTabla {
  border-collapse: collapse;
  width: 100%;
  text-align: center; /* Centra horizontalmente el texto */
  margin-top: 20px;
}

.estiloTabla th, .estiloTabla td {
  border: 1px solid #ddd;
  padding: 10px;
  vertical-align: middle; /* Centra verticalmente el contenido */
  text-align: center; /* Centra horizontalmente el contenido */
}

.estiloTabla th {
  background-color: #f2f2f2;
  color: #333;
}




label {
  margin-right: 10px;
  font-weight: bold;
}

.custom-spinner {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: center; /* Alinea horizontalmente los elementos */
}

.custom-spinner button {
  font-size: 1.5rem;
  padding: 0.5em 1em;
  cursor: pointer;
}

.custom-spinner input[type="number"] {
  font-size: 2rem; /* Aumenta el tamaño de la fuente */
  text-align: center;
  width: 100px; /* Aumenta el ancho del input para que se vea mejor */
  padding: 0.5em; /* Añade un poco de relleno interno para mayor espacio */
  margin: 0 5px; /* Añade margen para separar el input de los botones */
}

#onduladoListado label {
  display: inline-flex; /* Alinea el botón de radio y la etiqueta en línea */
  align-items: center; /* Centra verticalmente el texto con el radio button */
  margin-right: 15px; /* Espacio entre los radio buttons */
}

#onduladoListado input[type="radio"] {
  margin-right: 5px; /* Espacio entre el botón de radio y el texto */
}

/* Estilo básico para el fieldset */
fieldset {
  border: 2px solid #3498db; /* Borde azul */
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9; /* Color de fondo */
  margin: 20px 0; /* Espacio entre fieldsets */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilo del legend (el texto dentro del fieldset) */
fieldset legend {
  font-size: 1.4em;
  color: #2c3e50; /* Color del texto */
  font-weight: bold;
  padding: 0 10px; /* Espacio alrededor del texto */
  background-color: #3498db; /* Fondo del legend */
  color: white;
  border-radius: 5px;
}

/* Estilo para el contenido dentro del fieldset */
fieldset > div {
  margin-bottom: 15px;
}

/* Opcional: Estilo cuando el campo está enfocado */
fieldset input:focus, fieldset textarea:focus, fieldset select:focus {
  border-color: #3498db;
  outline: none; /* Elimina el contorno predeterminado */
}

/* Contenedor para los radios y etiquetas */
fieldset .radio-group {
  display: flex; /* Diseño en línea */
  flex-wrap: wrap; /* Permite saltar a la siguiente línea si no hay espacio */
  gap: 10px; /* Espacio entre cada grupo */
  margin-bottom: 15px;
}


/* Mantén los radios y etiquetas juntos */
fieldset .radio-group label {
  display: flex;
  align-items: center; /* Alinea verticalmente el radio y el texto */
  gap: 5px; /* Espacio entre el radio y el texto */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}


/* Tabla responsiva */
fieldset table {
  width: 100%; /* Ocupa todo el ancho disponible */
  border-collapse: collapse; /* Elimina espacios entre celdas */
  margin-top: 15px;
}

fieldset table th {
  text-align: left; /* Alineación izquierda del contenido */
  padding: 5px;
}

fieldset table th label {
  display: block;
  margin-bottom: 5px;
}

fieldset table th input {
  width: 100%; /* Hacer que el input ocupe todo el espacio disponible */
  padding: 8px;
  box-sizing: border-box; /* Incluye el padding dentro del ancho */
}

/* Adaptación para pantallas pequeñas */
@media (max-width: 600px) {
  fieldset .radio-group {
    flex-direction: column; /* Cambia a diseño vertical */
    gap: 15px;
  }

  fieldset table th {
    display: block; /* Coloca cada celda en una línea separada */
    margin-bottom: 10px;
  }
}

#nombreCliente {
  flex: 1 1 auto; /* Ocupará el espacio disponible */
  transition: flex 0.3s ease; /* Animación suave */
}

#campoNumeroCliente {
  display: flex; /* Mantiene el flujo de flexbox */
  flex: 1 1 auto; /* Tamaño normal */
  transition: all 0.3s ease; /* Animación para mostrar/ocultar */
}


/* Contenedor para tablas responsivas */
.table-responsive {
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  -webkit-overflow-scrolling: touch; /* Mejora la experiencia en dispositivos táctiles */
}

/* Asegurar que la tabla ocupe todo el ancho disponible */
.estiloTabla {
  width: 100%;
  border-collapse: collapse;
}

.estiloTabla th, .estiloTabla td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  white-space: nowrap; /* Evita que el contenido se rompa en varias líneas */
}

.estiloTabla th {
  background-color: #f2f2f2;
}

.custom-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Botones e inputs en custom-spinner */
.custom-spinner button {
  font-size: 1rem;
  padding: 0.5rem;
}

.custom-spinner input[type="number"] {
  font-size: 1rem;
  width: 60px; /* Ajusta el ancho del input */
  text-align: center;
  margin: 0 5px;
}

/* Estilo responsivo para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .estiloTabla th, .estiloTabla td {
    font-size: 0.9rem;
    padding: 5px;
  }

  .custom-spinner input[type="number"] {
    width: 50px; /* Reduce el ancho del input en pantallas pequeñas */
  }
}

* {
  box-sizing: border-box;
}

form .error {
  border: 2px solid red; /* Borde rojo */
  background-color: #f8d7da; /* Fondo rojo claro */
  color: #721c24; /* Texto rojo oscuro */
}

/* Clase para resaltar la tabla */
.estiloTabla.error {
  border: 2px solid red;
  background-color: #ffe6e6; /* Un color suave para llamar la atención */
}


/* Estilo para los campos correctamente llenados (reenviados) */
form .reenvio {
  border: 2px solid #00ff0d; /* Borde verde */
  background-color: #bcecbb; /* Fondo verde claro */
  color: #2f721c; /* Texto verde oscuro */
}

/* Clase para resaltar la tabla con un reenvío */
.estiloTabla.reenvio {
  border: 2px solid #00ff0d;
  background-color: #bcecbb; /* Fondo verde claro para la tabla */
}


.botonesEnvio {
  display: flex;
  flex-wrap: wrap; /* Permite que los botones pasen a la siguiente línea si no caben */
  gap: 10px; /* Espacio entre botones */
}

/* Estilos para el input file */
input[type="file"] {
  padding: 10px;  /* Espaciado interno */
  font-size: 16px; /* Tamaño de la fuente */
  border: 2px; /* Borde verde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor cuando pasa por encima */
  width: 400px; /* Ancho */
}

/* Estilos para cuando el archivo está seleccionado */
input[type="file"]:focus {
  outline: none; /* Quita el contorno predeterminado */
  border-color:#bcecbb; /* Borde verde más oscuro */
}

/* Estilo cuando el archivo es seleccionado */
input[type="file"]:hover {
  background-color: #a19a9a; /* Fondo más oscuro cuando pasa el mouse */
}

/* Estilos para el texto de selección (opcional) */
input[type="file"]::-webkit-file-upload-button {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #45a049; /* Fondo verde más oscuro */
}

/* ultimas modificaciones */
/* Estilos básicos */
.estiloTabla {
  width: 100%;
  border-collapse: collapse;
}

.estiloTabla th, .estiloTabla td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


.control-peticion,
.mostrar-tabla-impresion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}



.control-impression-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.control-group {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan si no caben */
  justify-content: space-evenly; /* Espacio uniforme entre elementos */
  align-items: center; /* Centrar verticalmente los elementos */
  text-align: center;
  gap: 30px; /* Espaciado entre elementos */
  margin: 20px 0;
  width: 100%; /* Asegura que el grupo ocupe todo el ancho disponible */
}

.control-item {
  display: flex;
  align-items: center; /* Centrar checkbox y texto verticalmente */
  justify-content: center; /* Centrar checkbox y texto horizontalmente */
  gap: 10px; /* Espaciado entre el checkbox y el texto */
}

.custom-spinner {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaciado interno entre los elementos del spinner */
}

.custom-spinner button {
  display: flex; /* Usar flexbox dentro del botón */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  width: 30px;
  height: 30px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}



.custom-spinner input {
  width: 60px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
}

.dropdown {
  margin-top: 10px;
}

.control-item label {
  font-size: 18px; /* Tamaño del texto */
  font-weight: bold; /* Texto más llamativo */
  margin: 0;
}

.control-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .control-peticion,
  .mostrar-tabla-impresion {
    padding: 10px;
  }
}

.paletizado-container {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.header {
  text-align: center;
  margin-bottom: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.field {
  flex: 1;
  margin: 0 5px;
}

.field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.field input[type="text"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.field div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.field input[type="radio"] {
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  form {
    padding: 0; /* Ajusta el padding del formulario si también lo necesitas */
  }
}

/* Estilos generales para pantallas grandes */
.paletizado-container .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.paletizado-container .field {
  flex: 1 1 30%; /* Ajusta el ancho de los campos en pantallas grandes */
  margin-bottom: 20px;
}

/* Estilos responsive para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  /* Asegura que todos los elementos ocupen el 100% del ancho disponible en pantallas pequeñas */
  .paletizado-container .row {
    flex-direction: column;
  }

  .paletizado-container .field {
    flex: 1 1 100%; /* Cada campo ocupa toda la fila */
    margin-bottom: 15px;
  }

  /* Ajuste para los inputs y select */
  .paletizado-container input[type="text"],
  .paletizado-container select {
    width: 100%; /* Asegura que los inputs y select ocupen el 100% del ancho */
    padding: 10px;
  }

  /* Mostrar los radio buttons en fila */
  .paletizado-container .field div {
    display: flex;
    gap: 10px;  /* Espacio entre los botones de radio */
    flex-wrap: nowrap;
  }

  .paletizado-container .field div input[type="radio"] {
    margin-right: 10px; /* Ajuste de espacio entre los radio buttons */
  }
}
